:root {
    --darktone: #383838;
    --midtone: #424242;
    --lighttone: #464646;

    --badlight: #d55;
    --goodlight: #5d5;
    --marklight: #55d;

    --board-light: #e99;
    --board-dark: #966;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    background-color: var(--darktone);
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    background-color: var(--midtone);
    height: 70vh;
    margin: 0;
}

#game-menu {
    width: 20vw;
    margin-left: 1vw;
    flex-direction: column;
}

#user-data {
    width: 90%;
    height: 30%;
    margin: 1vw;

    background-color: tomato; /* todo: remove */

}

#game-list {
    width:  90%;
    height: 70%;

    margin: 0 1vw 1vw 1vw;

    overflow: scroll;

    background-color: tomato; /* todo: remove */
}

#outer-game-board {
    width: 50vw;
}

/* width & height should be dynamically set to be a square */
#perimeter-game-board {
    height: 95%;
    aspect-ratio: 1 / 1;

    background-color: var(--darktone); /* todo: remove */
}

#game-board {
    height: 95%;
    aspect-ratio: 1 / 1;
    flex-direction: column;
}

.chess-box {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-color: blue;
}

.chess-row {
    height: 12.5%;
}

/* CHESSBOARD COLORS */

.chess-row:nth-child(2n) > .chess-box:nth-child(2n + 1) {
    background-color: var(--board-light);
}

.chess-row:nth-child(2n) > .chess-box:nth-child(2n) {
    background-color: var(--board-dark);
}

.chess-row:nth-child(2n + 1) > .chess-box:nth-child(2n + 1) {
    background-color: var(--board-dark);
}

.chess-row:nth-child(2n + 1) > .chess-box:nth-child(2n) {
    background-color: var(--board-light);
}

.field-label-vertical {

}

.field-label-horizontal {

}

#popup-window {
    position: absolute;

    height: 20vh;
    width: 20vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: tomato;

    transition: opacity 1s ease-in, opacity 0.3s ease-out 0.5s;
}

#popup-window-text {
    width: 90%;
    height: 70%;

    background-color: var(--board-light);
}

#popup-window-close {
    background-color: greenyellow;
    color: black;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* REGISTER PAGE */

div.register-background {
    position: absolute;

    width: 80vw;
    height: 100vh;

    top: 0;
    left: 50vw;
    transform: translateX(-50%);

    background: repeating-linear-gradient(
            -45deg,
            var(--darktone),
            var(--darktone) 30px,
            var(--lighttone) 30px,
            var(--lighttone) 60px
    );
    /* example of a gradient to try out
        background: repeating-linear-gradient(
            -45deg,
            #9ea9ef,
            #606dbc 20px,
            #414551 20px,
            #465298 40px
    );
     */
}
div.bar {
    position: absolute;

    width: 4vw;
    height: 100%;

    top: 0;
    left: 10vw;
    transform: translateX(-50%);

    background-color: var(--midtone);
}
div.bar:nth-child(2) {
    left: 90vw;
}

div.register-box {

    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    width: 40vw;

    border: black solid thin;
    border-radius: 1%;

    background-color: var(--midtone);
    color: ghostwhite;
}

div.register-header {
    display: flex;

    height: 5vh;
    width: 100%;

    align-items: center;
    text-align: left;
    text-indent: 1vw;

    background-color: var(--marklight);

    font-size: larger;
    font-family: "Montserrat", sans-serif;
}

div.register-field {
    display: table;

    margin: 2vh 1vw 2vh 3vh;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    width: 45%;


    padding: 4px 10px;
    margin: 8px 0;

    border: 1px solid #ccc;
    box-sizing: border-box;

    font-size: smaller;
}

.piece-img {
    width: 100%;
    height: 100%;

    pointer-events: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}