:root {
    --darktone: #343434;
    --midtone: #424242;
    --lighttone: #424242;

    --board-light: #e99;
    --board-dark: #966;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    background-color: var(--darktone);
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    background-color: var(--midtone);
    height: 70vh;
    margin: 0;
}

#game-menu {
    width: 20vw;
    margin-left: 1vw;
    flex-direction: column;
}

#user-data {
    width: 90%;
    height: 30%;
    margin: 1vw;

    background-color: tomato; /* todo: remove */

}

#game-list {
    width:  90%;
    height: 70%;

    margin: 0 1vw 1vw 1vw;

    overflow: scroll;

    background-color: tomato; /* todo: remove */
}

#outer-game-board {
    width: 50vw;
}

/* width & height should be dynamically set to be a square */
#perimeter-game-board {
    height: 95%;
    aspect-ratio: 1 / 1;

    background-color: var(--darktone); /* todo: remove */
}

#game-board {
    height: 95%;
    aspect-ratio: 1 / 1;
    flex-direction: column;
}

.chess-box {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-color: blue;
}

.chess-row {
    height: 12.5%;
}

/* CHESSBOARD COLORS */

.chess-row:nth-child(2n) > .chess-box:nth-child(2n + 1) {
    background-color: var(--board-light);
}

.chess-row:nth-child(2n) > .chess-box:nth-child(2n) {
    background-color: var(--board-dark);
}

.chess-row:nth-child(2n + 1) > .chess-box:nth-child(2n + 1) {
    background-color: var(--board-dark);
}

.chess-row:nth-child(2n + 1) > .chess-box:nth-child(2n) {
    background-color: var(--board-light);
}

.field-label-vertical {

}

.field-label-horizontal {

}